export GENECLAW_HOME=...

#export GENECLAW_LLM_PROVIDER=anthropic
#export ANTHROPIC_AUTH_TOKEN=sk-ant-oat01-...

export GENECLAW_LLM_PROVIDER=openai
export OPENAI_AUTH_TOKEN=...
export OPENAI_ACCOUNT_ID=...
export OPENAI_MODEL=gpt-5.4

# Slack App Name: Aura
export SLACK_APP_TOKEN=xapp-1-...
export SLACK_BOT_TOKEN=xoxb-...
